h1{
    text-align: center;
    padding: 30px 50px;
    color:black;
 font-family: Chelsea Market, cursive;
 background-color:#e4572e;
 font-size: 30px;
 text-shadow: 2px 2px white;
}
p1{
    font-family: Chelsea Market, cursive;
    font-size: small;
    color:white;
    text-shadow: 2px 2px #e4572e ;
}
body{
    color: black;
     background-color:#fffff2;
     font:Gamja Flower, cursive;
     font-size: small;
     place-items: center;
     text-align: center;
    
     
}
.author{
    text-align: center;
    width:1000px;
    height:200px;
    border:4px solid black;
    margin:20px;
    box-shadow: 3px 3px 0 0 #e4572e;
    font-size:small;
}
.city{

    text-align: center;
    width:1000px;
    height:200px;
    border:4px solid black;
    margin:20px;
    box-shadow: 3px 3px 0 0 #e4572e;
    text-decoration: underline;
    box-sizing: border-box;
    padding-right:20px ;
    display:flex;
    

}
.city .im8g{
    width: 200px;
    flex: 150px;
}
.city .im8g img{
    width: 200px;
    height: 170px;
}
.city  .content p{
    padding: 0;
    color: black;
    display: list-item;

    
}
.tab{
    width: 995px;
    box-shadow: 3px 3px 0 0 #e4572e;
    place-items: center;
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
     
}
}
.content{
    max-width: 1000px;
    margin:auto;
    font-size: small;
   
}